[Desktop Entry]
Name=Offline translator
Exec=offline-translator-linux %U
Icon=assets/logo.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Rotates-Window-Contents=true
